.container {
    background-color: #000;
    width: 600px;
    margin: auto;
    padding: 1px;
}

.cell {
    background-color: #EEE;
    width: 33.3%;
    border: 2px solid black;
    box-sizing: border-box;
    padding-bottom: 30%;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.cell img {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}